.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
gcc/main
g++/main
g++ with location and libraries/build/main.o
g++ with location and libraries/build/math_utils.o
g++ with location and libraries/build/program
